<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h2 class="text-center">TEA SHOP - A site to track arbitrarly planted teas and brew said tea </h2>
        <h1 class="text-right">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/my_teas/{{user.id}}" class="btn btn-primary">My Teas</a>
            <a href="/new/tea" class="btn btn-primary">Brew a tea</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <div class="col-8 mx-auto">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Tea Color</th>
                    <th>location</th>
                    <th>Brewed By</th>
                    <!-- <th>Liked By</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tea in all_teas %}
                <tr>
                    <td>{{ tea.name }}</td>
                    <td style="color:{{ tea.tea_color}}"> {{ tea.tea_color}}</td>
                    <td>{{ tea.location}}</td>
                    <td>{{ tea.founder.first_name }} {{ tea.founder.last_name }}</td>
                    
                    <!-- <td>{{tea.likes|length}}</td> -->
                    
                    <td>
                        <a href="/tea/{{tea.id}}">View tea</a>
                        {% if tea.user_id == session.user_id %}
                        <a href="/edit/tea/{{tea.id}}">Edit</a>
                        <a href="/destroy/tea/{{tea.id}}">Delete</a>
                        {% endif %}
                    </td>    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>