<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h2 class="text-center">Arbortary - A site to track arbitrarly planted teas </h2>
        <h1 class="text-right">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/update/tea" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Re-Plant your Tea</h2>
        {% with messages = get_flashed_messages(category_filter=['tea']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <input type="hidden" name="id" value={{edit.id}}>
            <div class="col-4">
                <div class="form-group">
                    <label for="name">name:</label>
                    <input type="text" name="name" class="form-control" value="{{edit.name}}">
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <textarea name="location"  cols="30" rows="5" class="form-control">{{edit.location}}</textarea>
                </div>
            </div>
            <div class="col-4">

                <div class="form-group">
                    <label for="tea_color">tea_color:</label>
                    <textarea name="tea_color"  cols="30" rows="5" class="form-control">{{edit.tea_color}}</textarea>
                </div>

                <div class="form-group">
                    <label for="date_made">Date Made:</label>
                    <input type="date" name="date_made" value="{{edit.date_made.strftime('%Y-%m-%d')}}" class="form-control">
                </div>

                <br>
                <input type="submit" value="Edit Tea" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>