<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h2 class="text-center">Arbortary - A site to track arbitrarly brewed teas </h2>
        <h1 class="text-right">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <div class="card col-10 mx-auto my-5 bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">{{tea.name}} was brewed by {{tea.founder.first_name}} {{tea.founder.last_name}}</h2>
            <p class="card-text">Where:   {{tea.location}}</p>
            <p class="card-text">tea color:  {{tea.tea_color}}</p>
            <p class="card-text">brewed:  {{tea.date_made.strftime('%Y-%m-%d')}}</p>
        </div>
        <div class="card col-10 mx-auto my-5 bg-dark text-light">
            <div class="card-body">
                <h1>likers</h1>
                {% for likers in tea.likes %}
                <p class="card-text">Liker First name:   {{likers.first_name}}</p>
                <p class="card-text">Liker last name:     {{likers.last_name}}</p>
                {% endfor %}
            </div>
            <div>
                <h1>Visitors</h1>
                {% for visitors in tea.visitors %}
                <p class="card-text">Visitor First name: {{visitors.first_name}}</p>
                <p class="card-text">Visitor last name:  {{visitors.last_name}}</p>
                {% endfor %}
            </div>
        <div>
            <a href="/tea/{{tea.id}}/like" class="btn btn-info">Like Button</a>
            <a href="/tea/{{tea.id}}/visit" class="btn btn-info">Visitor Button</a>
        </div>
    </div>
</body>
</html>